build/
dist/
.venv/
*.egg-info/
.idea/
__pycache__/
.idea/*
/setup.py
/업데이트방법.md
/PyPI-Recovery-Codes-ilco-2023-11-14T13_01_57.274023.txt
/7D2B6F3C-1D95-4E0C-BF5A-5EE564186FBCx0x1x0.py
/*.pyc
.pypirc
/CHANGELOG_SAMPLE.md
/release_test.py
/release.py
/site/
/overrides/*
mkdocs.yml
.cache
/docs/javascripts/search_log.js

.python-version
pyproject.toml
uv.lock